table
  tr
    th Titre
    th Moyen
    th Date
    th Valeur
  each expense in expenses
    - var klass = (expense.value > 0 ? 'positive' : '')
    tr(class=klass)
      td= expense.label
      td= expense.means
      td= moment(expense.date).format('L')
      td= expense.value.toFixed(2) + currency
